// Import page-specific CSS files here.
@import "home";


// this is the main container
.body-container {
  background-color: red;
}
// this is the container which holds the whole index section

.index-container {
  background-color: greenyellow;
}

//this the container for a single task

.task-container {
  background-color: white;
  //width: 100%;
}

.turbo-frame-class {
  width: 100%;
}
